@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

/* Fonts */

body {
    font-family: 'Poppins', sans-serif;
}

.caption {
    position: absolute;
    bottom: 10px;
    left: 25px;
    color: #fff;
    background-color: transparent; 
    padding: 5px;
    border-radius: 5px;
}
